<html lang="en">

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tech Blog</title>
      {{!-- <script src="https://cdn.tailwindcss.com"></script> --}}

  </head>

  <body>
    <header>
      <h1 class="text-3xl font-bold underline">Tech Blog</h1>
    </header>
    <nav>
      <ul>
        <a href="/">Home</a>
        <a href="/dashboard">Dashboard</a>
        {{#if logged_in}}
        <button id="logout">Logout</button>
        <script src='/js/logout.js'></script>
          {{else}}
          <a href="login">Login</a>
        {{/if}}
      </ul>
    </nav>
    <main>
      <div class="gallery">
        {{{body}}}
      </div>
    </main>
  </body>

</html>