<form> 
<h2>Make a post</h2>
<input id="title-text" placeholder="Title" type="text">
<textarea id="content-text"name="Blog Post" cols="30" rows="5"></textarea>
<button>Submit</button>
</form>

{{>posts}}

<script src="/js/addPost.js"></script>