<h3>Login</h3>
<form action="" id="login-form">
  <input type="text" placeholer="Email" id="login-email" />
  <input type="text" placeholer="Password" id="login-password" />
  <button>Login</button>
</form>

<h3>Sign Up</h3>
<form action="" id="signup-form">

  <input type="text" placeholer="Name" id="user-name" />
  <input type="text" placeholer="Email" id="user-email" />
  <input type="text" placeholer="Password" id="user-password" />
  <button>Signup</button>
</form>

<script src="/js/loginSignUp.js"></script>