<h3>Login</h3>
<form action="" id="login-form">
  <input type="text" placeholder="Email" id="login-email" />
  <input type="text" placeholder="Password" id="login-password" />
  <button>Login</button>
</form>

<h3>Sign Up</h3>
<form action="" id="signup-form">
  {{!-- <label for="user-name"> Name:</label> --}}
  <input type="text" placeholder="name" id="user-name" />
  <input type="text" placeholder="Email" id="user-email" />
  <input type="text" placeholder="Password" id="user-password" />
  <button>Signup</button>
</form>

<script src="/js/loginSignUp.js"></script>