<h2>{{post.title}}</h2>
<h3>Author: {{post.User.name}}</h3>
<h4>{{post.content}}</h4>
<form action="">
    <input type="text" id="comment" placeholder="Comment">
<button>Add Comment</button>
</form>

<script src="/js/addComment.js"></script>